# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.iml
.vscode/

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/ios/Flutter/.last_build_id

# Node (Admin/functions, Rider/functions, Customer if any)
node_modules/

# Misc
*.class
*.log
*.pyc
*.swp
